<%- include('../partials/header.ejs', {page_title: "finish"}) %>


<body class="bg-primary bg-gradient min-vh-100 d-flex flex-column justify-content-between">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
    <div class="container">
      <span class="navbar-brand mb-0 h1 fs-2">La carte d'Europe</span>
    </div>
  </nav>

  <main class="container d-flex flex-grow-1 align-items-center justify-content-center">
    <div class="card shadow-lg p-4 w-100 text-center" style="max-width: 500px;">
      <h1 class="card-title mb-4">Félicitation, tu as fini le test !</h1>
    </div>
  </main>

  <footer class="bg-light text-center py-3 mt-4 shadow-sm">
    <a href="https://emm.qc.ca" class="text-decoration-none text-secondary">© École Marcelle-Mallet</a>
  </footer>
</body>
</html>

<script>
  const baseFetchUrl = '/app/finish';

  const currentQueryString = window.location.search;

  const urlWithParams = baseFetchUrl + currentQueryString;

  console.log('Fetching URL:', urlWithParams);

  fetch(urlWithParams, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    })
    .then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      document.querySelector("main h1").innerHTML = "Félicitation, tu as fini le test !"
      window.location.href = "/"
    })
    .catch(error => {
      document.querySelector("main h1").innerHTML = "Oups, une erreur est survenu pendant la validation du test"
      console.error('Error:', error);
    });
</script>